<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metaspine.unity.trackerbindings">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:usesCleartextTraffic="true" />
    <queries>
        <provider android:authorities="com.metaspine.mobile.trackerbindings" />
    </queries>
</manifest>

